html {
  width:100%;
}
.dashboard {
  padding: 10px;
  padding-top:0px;
  overflow-x: hidden;
}

ul {
  margin:0px;
  padding:0px;
}

.item {
  display: flex;
  flex-direction: row;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  font-size: 1.2em;
  font-weight: bolder;
  padding:20px;
}

tr {
  border-bottom: 1px solid;
}

td {
  text-align:center;
  padding:10px;
}


/* ==========================================================================================
BUTTON & ACTIVE BUTTON SELECTORS
============================================================================================ */


button {
  font-family: "Brandon Grotesque";
  margin: 10px;
  border: 1px #1b372a88 solid;
  color: #1b372a88;
  background-color: #ffffff;
  padding: 6px 12px;
  border-radius: 20px;
  transition: 0.1s;
}


button:hover {
  cursor:pointer;
  transition: 0.25s;
  background-color: #1b372a;
  color: #FFFFFF;;
}

.selected {
  transition: 0.25s;
  color: #ffffff;;
  background-color: #1b372a;
}

/* ==========================================================================================
OBJECT CONTAINERS (DEVICE, EXPERIMENT, ETC)
============================================================================================ */


.object_container {
  background-color: #FFFFFF;
  position: relative;
  box-shadow: 0px 5px 20px -10px #555555;
  margin:10px;
  border-radius: 10px;
  flex: 1;
  max-width: calc(100% - 20px);
}

.object_container:hover .object_dropdown {
  /*display:block;*/
  max-height:2000px;
  transition: max-height 1s ease-out;
}


.object_top {
  display:flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .object_top {
    flex-direction: column;
  }
}

.object_description {
  display: flex;
  flex-direction: column;
  padding:10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  min-width: 30%;
}

@media only screen and (max-width: 600px) {
  .object_description {
    padding-bottom:10px;
  }
}

.bold_font {
  font-family: "Brandon Grotesque Black";
  white-space: pre-wrap;
}
.normal_font {
  font-family: "Brandon Grotesque";
}

.object_dropdown {
  /*display:none;*/
  max-height:0px;
  transition: max-height 0.25s ease-out;
  overflow:hidden;
}

.object_dropdown:hover {
  /*display:none;*/
  max-height:2000px;
  transition: max-height 0.25s ease-out;
}

.object_content {
  display:flex;
  padding:0px;

  padding-top:10px;
  padding-bottom:10px;

  align-items: right; 
  flex-direction: row;
  flex:1;
  /*max-width: 50%;*/
  order:2;
}

@media only screen and (max-width: 600px) {
  .object_content {
    display:none;
    /*max-width: 100%;*/
    padding-top: 0px;
    padding-bottom: 30px;
  }

  .object_container:hover .object_content {
    display:flex;
    /*max-width: 100%;*/
    padding-top: 0px;
    padding-bottom: 30px;
  }
}

/* HIDDEN start state */
.object_actions {
  list-style-type: none;
  position:absolute;
  right:0px;
  top:0px;
  border:none;  
  border-top-right-radius: 10px;
  transition: .5s transform linear;
  z-index: 3;
}

.object_actions img {
  margin:5px;
  padding:2px;
  width:5px;
}


.object_actions:hover {
  display: table;
  transition: .5s transform linear;
}

.object_actions:hover button {
  display: block;
}


.object_actions:hover .menu_icon {
  display: none;
}


.object_actions button {
  display:none;
  background-color: #ffffff;
  border:none;
  border-radius: 0px; /* cancels out the border radius of the parent "button" object*/
  margin:0px;
  width:100%;
  box-shadow: 0px 5px 20px -10px #555555;

}

.object_actions button:hover {
  transition: 0.5;
  color: #1b372a;
}

.empty_object {
  padding:10px;
  margin-top:auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: #1b372a 1px dashed;
  text-align: center;
  transition: 0.5s;

}

.empty_object:hover {
  background-color: #EEEEEE;
  transition: 0.5s;
  cursor: pointer;
}

/* ==========================================================================================
TOOLTIP
* https://codepen.io/cbracco/pen/kNMqmJ

============================================================================================ */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
position: absolute;
visibility: hidden;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity: 0;
-webkit-transition: 
  opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
-moz-transition:    
  opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
transition:         
  opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
-webkit-transform: translate3d(0, 0, 0);
-moz-transform:    translate3d(0, 0, 0);
transform:         translate3d(0, 0, 0);
pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  text-align: left;
  bottom: 110%;
  left: 0%;
}