.dashboard {
  padding: 10px;
  background-color: #FFFFFF;
}

ul {
  margin:0px;
  padding:0px;
}

.item {
  display: flex;
  flex-direction: row;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  font-size: 1.2em;
  font-weight: bolder;
  padding:20px;
}

tr {
  border-bottom: 1px solid;
}

td {
  text-align:center;
  padding:10px;
}

button {
  font-family: "Brandon Grotesque";
  margin: 10px;
  border: 1px #B3896A solid;
  background-color: #ffffff;
  color: #B3896A;;
  padding: 6px 12px;
  border-radius: 20px;
}

button:hover {
  transition: 0.25s;
  background-color: #B3896A;
  color: #FFFFFF;;
}

/* ==========================================================================================
DEVICE
============================================================================================ */

/* ==========================================================================================
OBJECT CONTAINERS (DEVICE, EXPERIMENT, ETC)
============================================================================================ */


.object_container {
  position: relative;
  box-shadow: 0px 5px 20px -10px #555555;
  margin:10px;
  border-radius: 10px;
  flex: 1;
  max-width: calc(100% - 20px);
}

.object_top {
  display:flex;
  flex-direction: row;

}

.object_description {
  display: flex;
  flex-direction: column;
  padding:10px;
  padding-top:20px;

  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  min-width: 30%;
}

.object_name {
  font-family: "Brandon Grotesque Black";
}

.object_content {
  display:flex;
  padding:10px;
  align-items: right; 
  flex-direction: row;
  flex:1;
  max-width: 50%;
  order:2;
}

/* HIDDEN start state */
.object_actions  {
  background: none;
  list-style-type: none;
  position:absolute;
  right:0px;
  top:0px;
  border:none;
  transition: .5s transform linear;
  z-index: 3
}

.object_actions img {
  margin:5px;
  padding:2px;
  width:5px;
}
.object_actions button {
  display: none;
}

.object_actions:hover {
  display: table;
  transition: .5s transform linear;
}

.object_actions:hover button {
  display: block;
}

.object_actions:hover img {
  display: none;
}

.object_actions button {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #B3896A;
  color: #B3896A;
  border-radius: 0px;
  margin:0px;
  width:100%;
}

.object_actions button:hover {
  transition: 0.5;
  color: #323232;
}

.empty_object {
  color: white;
  padding:10px;
  background-color: #DDDDDD;
  margin-top:auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  transition: 0.5s;

}

.empty_object:hover {
  background-color: #CCCCCC;
  transition: 0.5s;
  cursor: pointer;
}

/* ==========================================================================================
TOOLTIP
* https://codepen.io/cbracco/pen/kNMqmJ

============================================================================================ */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
position: relative;
cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
position: absolute;
visibility: hidden;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
opacity: 0;
-webkit-transition: 
  opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
-moz-transition:    
  opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
transition:         
  opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
-webkit-transform: translate3d(0, 0, 0);
-moz-transform:    translate3d(0, 0, 0);
transform:         translate3d(0, 0, 0);
pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
visibility: visible;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  min-width: 60px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  text-align: center;
  bottom: 110%;
  left: 0%;
}