.dashboard {
  padding: 10px;
  background-color: #FFFFFF;
}

ul {
  margin:0px;
  padding:0px;
}

.item {
  display: flex;
  flex-direction: row;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  font-size: 1.2em;
  font-weight: bolder;
  padding:20px;
}

tr {
  border-bottom: 1px solid;
}

td {
  text-align:center;
  padding:10px;
}

button {
  font-family: "Brandon Grotesque";
  margin: 10px;
  border: 1px #B3896A solid;
  background-color: #ffffff;
  color: #B3896A;;
  padding: 6px 12px;
  border-radius: 20px;
}

button:hover {
  transition: 0.25s;
  background-color: #B3896A;
  color: #FFFFFF;;
}

/* ==========================================================================================
DEVICE
============================================================================================ */

/* ==========================================================================================
OBJECT CONTAINERS (DEVICE, EXPERIMENT, ETC)
============================================================================================ */


.object_container {
  position: relative;
  box-shadow: 0px 5px 20px -10px #555555;
  margin:10px;
  border-radius: 10px;
  flex: 1;
}

.object_top {
  display:flex;
  flex-direction: row;

}

.object_description {
  display: flex;
  flex-direction: column;
  padding:20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  min-width: 30%;
}

.object_name {
  font-family: "Brandon Grotesque Black";
}

.object_content {
  display:flex;
  align-items: right; 
  flex-direction: row;
  flex:1;
  padding:10px;
  max-width: 50%;
  margin-left: auto;
  order:2;
}

.object_phase {
  width:100%;
  clear: left;
  padding:10px;
}
/* HIDDEN start state */
.object_actions  {
  background: none;
  list-style-type: none;
  position:absolute;
  right:0px;
  top:0px;
  border:none;
  transition: .5s transform linear;
}

.object_actions img {
  margin:5px;
  padding:2px;
  width:5px;
}
.object_actions button {
  display: none;
}

.object_actions:hover {
  display: table;
  transition: .5s transform linear;
}

.object_actions:hover button {
  display: block;
}

.object_actions:hover img {
  display: none;
}

.object_actions button {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #B3896A;
  color: #B3896A;
  border-radius: 0px;
  margin:0px;
  width:100%;
}

.object_actions button:hover {
  transition: 0.5;
  color: #323232;
}


/* ==========================================================================================
RECIPE BAR (OBJECT BOTTOM CHIN)
============================================================================================ */


.recipe_bar {
  width:100%;
  display: flex;
  margin-top:auto;
  order:2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.recipe_bar_empty {
  padding:10px;
  background-color: #EEEEEE;
  margin-top:auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}