/* ==========================================================================================
RECIPE BAR (OBJECT BOTTOM CHIN)
============================================================================================ */

.recipe_bar_timestamps {
  padding-left:5px;
  padding-right:5px;
  font-family: "Brandon Grotesque Black";
  font-size:14px;
  color: #1b372a;
  display: flex;
  margin-top:auto;
  order:2;
  margin-top: -20px;
}

.recipe_bar_start_date {
  width:100%;
}

.recipe_bar_end_date {
  width:100%;
  text-align: right;
}


.recipe_bar {
  position:relative;
}

.recipe_bar_phases {
  width:100%;
  display: flex;
  margin-top:auto;
  order:2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.recipe_bar_phase {
  position: relative;
  cursor: pointer;
  width: 100%;
  clear: left;
  padding: 10px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap !important;

}

.recipe_bar_phase:hover {
  overflow:visible;
}


/*
Not sure if this is useful anymore? cant tell how it affects style
.recipe_bar_phase:hover .recipe_bar_phase_name {
  display: inline;
}
*/

.popup {
  position:absolute;
  text-align: left;
  bottom: 100%;
  left: 0%;
  padding: 8px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  min-width:250px;
  z-index:10;

  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition:    
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition:         
    opacity 0.2s ease-in-out,
    visibility 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

.recipe_bar_phase:hover .popup {
  display: block;

  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;

}

.recipe_bar_phase_days {
  position: absolute;
  font-size: 12px;
  right: 5px;
  top: 5px;
}

.recipe_bar_phase_name {
  overflow:hidden;
  white-space: nowrap;
}

.recipe_bar_progress_line {
  background-color: #99ff44;
  order: 3;
  height: 5px;
}

.experiment_reading_line {
  height: 1.5vh;
  width: 1.5%;
  z-index: 2;
  position: absolute;
}

.exp_reading_triangle {
  font-size: 0.6em;
  line-height: 15px;
  position:absolute !important; /* need this for some reason */ 
  transform: translateX(-50%);
  top: 14px;
}

/* ==========================================================================================
PHASE DETAILS (WATERING ICONS)
============================================================================================ */


.watering {
  display:flex;
  position: relative;
  align-items:center;
}

.phase_lighting {
  display:flex;
  position: relative;
  align-items:center;
}

.light_intensity {
  padding:0px;
  margin:0px;
  z-index: 2;
  text-align: center;
  font-family: "Brandon Grotesque Black";
  font-size: 10px;
}