/* ==========================================================================================
RECIPE BAR (OBJECT BOTTOM CHIN)
============================================================================================ */

.recipe_bar_timestamps {
  padding-left:5px;
  padding-right:5px;
  font-family: "Brandon Grotesque Black";
  font-size:14px;
  color: #1b372a;
  display: flex;
  margin-top:auto;
  order:2;
  margin-top: -20px;
}

.recipe_bar_start_date {
  width:100%;
}

.recipe_bar_end_date {
  width:100%;
  text-align: right;
}


.recipe_bar {
  position:relative;
}

.recipe_bar_phases {
  width:100%;
  display: flex;
  margin-top:auto;
  order:2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.recipe_bar_phase {
  position: relative;
  width: 100%;
  clear: left;
  padding: 10px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap !important;

}

.recipe_bar_phase:hover {
  overflow:visible;
}

.recipe_bar_phase:hover .recipe_bar_phase_name {
  display: inline;
}

.recipe_bar_phase_days {
  position: absolute;
  font-size: 12px;
  right: 5px;
  top: 5px;
}

.recipe_bar_phase_name {
  overflow:hidden;
  white-space: nowrap;
}

.recipe_bar_progress_line {
  background-color: #99ff44;
  order: 3;
  height: 5px;
}

.experiment_reading_line {
  height: 1.5vh;
  width: 1.5%;
  z-index: 2;
  position: absolute;
}

.exp_reading_triangle {
  font-size: 0.6em;
  line-height: 15px;
  position:absolute !important; /* need this for some reason */ 
  transform: translateX(-50%);
  top: 14px;
}
