img {
    max-width: 100%;
    max-height: 40vh;
}

li {
  margin-left: 5%;
}

ul {
  padding-inline-start: 40px;
}

.sub-nav {
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  display:table;
  width: 90%;
  table-layout: fixed;
  /*box-shadow: 0 5px 6px -6px #888888;*/
  padding: 0px;
  padding-bottom: 10px;
  position: absolute;
  background-color: white;
  z-index: 2;
}

body {
  max-width: 100%;
}

.section {
  text-decoration: none;
}