  /* ==========================================================================================
  EXPERIMENT CONTAINERS
  ============================================================================================ */

#experimentLeft{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#experimentRight{
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.experiment_container {
  display: table-cell;
  color: #161616;
  padding:10px;
  float: right;
}

#experiment {
  box-shadow: 0px 5px 20px -10px #555555;

  margin:10px;
  padding:10px;
  border-radius: 10px;
  display: flex;
}

.podCarouselWrapper {
  display: flex;
  align-items: center; 
  flex-direction: row;
}

  /* ==========================================================================================
  POPUP MODAL
  ============================================================================================ */

  .modal {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .modal_header {
    display: table;
  }
  
  .modal_header button {
    display: table-cell;
  }
  
  .modal_type {
    display: table-cell;
    margin: 2% 0 12% 0%;
  }
  
  .modal_body {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 30%;
  }
  
  .modal_content{
    display: flex;
    flex-direction: column;
  }
  
  .form_row{
    display: flex;
    margin: 5px;
    margin-bottom: 5%;
    justify-content: center;
  }


  /* control width of form descriptors */ 
  .form_row :first-child {
    width: 40%;
  }

  input {
    border: none;
    border-bottom: 1px solid;
    color: #B3896A;
  }

  select {
    border: none;
    border-bottom: 1px solid;
    color: #B3896A;

  }

  select .pod {
    margin:10px;
    height:30px !important;
    width:30px !important;
    border: none;
    background: rgb(224, 224, 224);
    border-radius: 50%
  }
  
  
  .form_row > * {
    flex: 0 0 auto;
  }
  
