/* ==========================================================================================
POD CAROUSEL
============================================================================================ */

.pod_carousel_wrapper {
  display: flex;
  align-items: right; 
  flex-direction: row;
  flex: 1;

}

/* ==========================================================================================
POPUP MODAL
============================================================================================ */

.modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_header {
  display: table;
}

.modal_header button {
  display: table-cell;
}

.modal_type {
  display: table-cell;
  margin: 2% 0 12% 0%;
}

.modal_body {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 30%;
  z-index: 2;
}

.modal_content{
  display: flex;
  flex-direction: column;
}

.form_row{
  display: flex;
  margin: 5px;
  margin-bottom: 5%;
  /* justify-content: center; */
}

input {
  border: none;
  border-bottom: 1px solid;
  color: #B3896A;
}

select {
  border: none;
  border-bottom: 1px solid;
  color: #B3896A;

}

select .pod {
  margin:10px;
  height:30px !important;
  width:30px !important;
  border: none;
  background: rgb(224, 224, 224);
  border-radius: 50%;
  color:#B3896A;
}

.device_selection {
  padding:5px;
  border: 1px solid #B3896A;
  border-radius: 10px;
}

.name_selection {
  color: #B3896A;
  font-weight: bold;
}

.name_selection::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3886a80;
  opacity: 1; /* Firefox */
}


.start_date_selection {
  color: #B3896A;
  margin-left: auto;
}