@font-face {
    font-family: "Brandon Grotesque";
    src:url("../fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-light-58a8a4b38001d.otf");
  }
  
  @font-face {
    font-family: "Brandon Grotesque Black";
    src:url("../fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-black-58a8a3e824392.otf");
  }
  
  @font-face {
    font-family: "Windsor D";
    src:url("../fonts/WindsorD.ttf");
  }

  body {
    font-family: "Brandon Grotesque";
    color: #1b372a;
    background-color: #FFFFFF;
    margin:2%;
  }

  select {
    font-family: "Brandon Grotesque";
  }

  input {
    font-family: "Brandon Grotesque";
  }

  input.name {
    font-family: "Brandon Grotesque Black";
  }
  
  .scrollUp{
    position: fixed;
    bottom: 0;
    right: 2%;
    z-index: 10
  }