/* ==========================================================================================
POPUP MODAL
============================================================================================ */

.modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_body {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  width: min-content; /* dont change this!!! */
  z-index: 2;
}
.modal_body_2 {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  width:60%;
  z-index: 2;
}

.modal_body_reading {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  width:min-content;
  z-index: 2;
}

.phase_selection {
  margin:0px;
  padding:5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 0px;
  border: 0px;
  min-width: 100%;
  border-radius: 5px;
}

.modal_header {
  display: table;
}

.modal_header button {
  display: table-cell;
}

.modal_type {
  display: table-cell;
  margin: 2% 0 12% 0%;
}

.modal_content {
  display: flex;
  flex-direction: column;
}

.modal_content_2 {
  display: flex;
  flex-direction: row;
}

.form_row {
  display: flex;
  margin: 5px;
  position:relative;
  font-size: 12px;
  width:min-content; /* dont change this! needed to keep Phases light_intensity_overlay in position over slider */
  white-space:nowrap;
}

.form_row input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
}
.form_row input::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
}
.form_row input:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
}
.form_row input:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
}
.form_row .phase_number_input {
  width:30px;
}
.form_row button {
  margin: 0px;
  margin-left:2px;
  margin-right:2px;
}

input {
  border: none;
  border-bottom: 1px solid;
  color: #1b372a;
}

select {
  border: none;
  border-bottom: 1px solid;
  color: #1b372a;
  margin-bottom: 4%;
}

select .pod {
  margin:10px;
  height:30px !important;
  width:30px !important;
  border: none;
  background: rgb(224, 224, 224);
  border-radius: 50%;
  color:#1b372a;
}

.device_selection {
  padding:5px;
  border: 1px solid #1b372a;
  border-radius: 10px;
}

.name_selection {
  color: #1b372a;
  font-weight: bold;
}

.name_selection::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3886a80;
  opacity: 1; /* Firefox */
}


.date_selection {
  color: #1b372a;
  margin-left: auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50px;
  background-color: #eeeeee;
  cursor: pointer;
}

#red_intensity_slider::-webkit-slider-thumb {
  background-image: url('../img/red_light_icon.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#blue_intensity_slider::-webkit-slider-thumb {
  background-image: url('../img/blue_light_icon.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#white_intensity_slider::-webkit-slider-thumb {
  background-image: url('../img/white_light_icon.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--SliderColor);
  overflow: visible;
  cursor: pointer;
  z-index: 10;


}
.slider::-moz-range-thumb { 
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--SliderColor);
  overflow: visible;
  cursor: pointer;
  z-index: 10;

}

.intensity_text_overlay  {
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  text-align: center;
  font-family: "Brandon Grotesque Black";
  color:black;
  opacity:50%;
  pointer-events: none;
  z-index: 1;
  width:100%;
}


/* <span class="validity"></span> */
input:invalid+span:after {
  position: absolute;
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  position: absolute;
  content: '✓';
  padding-left: 5px;
}

.hidden {
  display: none;
}

.recipe_modal_actions {
  margin: 0 auto
}

.exp_r_form_row {
  display: flex;
  flex-direction:row;
  margin-right: 5px;
  margin-left: 5px;
} 

.experiment_reading_indicator {
  background-color: #1b372a;
  color:#ffffff;
  padding-left:10px;
  padding-right:10px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;

}

.experiment-modal{
  display: table;
}

.modal-experiment-reading {
  display: table-cell;
  justify-content: center;
}

.modal-pod-reading{
  display: flex;
  flex-direction: column;
}

.modal-pod-form {
  display: flex;
  flex-flow: row wrap;
  padding:10px;
  margin-top:10px;
  padding-top:10px;
  text-align: center;
  justify-content: center;
  row-gap: 1vh;
}

.modal-pod-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.exp-general-input {
  width:30px;
  margin: 0px;
  padding: 0px;
}



.pod_r_modal{
  padding:10px;
  margin-top:10px;
  padding-top:10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  row-gap: 3vh;
}

.selected_pod_div{
  width: 100%
}

.selected_pod_div label{
  width: 100%
}

.pr_comment {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.pr_coverage{
  display: flex;
  flex-direction: column;
  width: calc(100%);
}

.pr_coverage div {
  display: flex;
  flex-direction: row;
}

.pr_coverage button {
  width: calc(60%);
  margin-left: 0px;
}

.create-recipe-left {
  width: 50%;
  display: inline;
  padding:10px;

}

.create-phase-right {
  width: 50%;
  display: inline;
  padding:10px;

}