/* ==========================================================================================
POPUP MODAL
============================================================================================ */

.modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_body {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  width: min-content;
  z-index: 2;
}


.modal_header {
  display: table;
}

.modal_header button {
  display: table-cell;
}

.modal_type {
  display: table-cell;
  margin: 2% 0 12% 0%;
}

.modal_content{
  display: flex;
  flex-direction: column;
}

.form_row{
  display: flex;
  margin: 5px;
  margin-bottom: 5%;
  position:relative;
  /* justify-content: center; */
}

input {
  border: none;
  border-bottom: 1px solid;
  color: #B3896A;
}

select {
  border: none;
  border-bottom: 1px solid;
  color: #B3896A;
}

select .pod {
  margin:10px;
  height:30px !important;
  width:30px !important;
  border: none;
  background: rgb(224, 224, 224);
  border-radius: 50%;
  color:#B3896A;
}

.device_selection {
  padding:5px;
  border: 1px solid #B3896A;
  border-radius: 10px;
}

.name_selection {
  color: #B3896A;
  font-weight: bold;
}

.name_selection::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b3886a80;
  opacity: 1; /* Firefox */
}


.date_selection {
  color: #B3896A;
  margin-left: auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50px;
  background-color: #eeeeee;
  cursor: pointer;
}

#red_intensity_slider::-webkit-slider-thumb {
  background-image: url('../img/red_light_icon.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#blue_intensity_slider::-webkit-slider-thumb {
  background-image: url('../img/blue_light_icon.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#white_intensity_slider::-webkit-slider-thumb {
  background-image: url('../img/white_light_icon.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--SliderColor);
  overflow: visible;
  cursor: pointer;
  z-index: 10;


}
.slider::-moz-range-thumb { 
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--SliderColor);
  overflow: visible;
  cursor: pointer;
  z-index: 10;

}

.intensity_text_overlay  {
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  text-align: center;
  font-family: "Brandon Grotesque Black";
  color:black;
  opacity:50%;
  pointer-events: none;
  z-index: 1;
}