.header {
    font-family: "Windsor D";
    display:table;
    width:100%;
    color: #1b372a;
}

/* MOBILE APP */
@media only screen and (max-width: 600px) {
  .header {
    font-family: "Windsor D";
    display:block;
    width:100%;
    color: #1b372a;
}
}

/* left side */
.title {
  display:table-cell; 
  vertical-align:middle;
  padding:10px;
  white-space: nowrap;
}
  
/* MOBILE APP */
@media only screen and (max-width: 600px) {
  .title {
    vertical-align: middle;
    text-align: center;
    padding:10px;
    padding-bottom:0px;

    white-space: nowrap;
    display:block;
    margin-bottom: 0px;
  }
}

/* right side */
.user_container {
  font-family: "Brandon Grotesque Black";
  display: table-cell;
  vertical-align:middle;
  padding:10px;
  text-align: right;
  white-space: nowrap;
}

/* MOBILE APP */
@media only screen and (max-width: 600px) {
  .user_container {
    display: none;
  }
}

.user_current {
  float: right;
  vertical-align: middle;

}

.user_img {
  height:25px;
  width:25px;
  margin:0px;
}

#logout {
  transition:0.5s;
  border: none;
  background: none;
  border-radius: 0.75em;
  color: #1b372a;
  font-family: "Brandon Grotesque";
  text-transform: uppercase;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-top: 2px;
  width: 120px;
}

#logout:hover span {
  transition:0.5s;
  display: none;
}

#logout:hover:before {
  transition:0.5s;
  content: "LOGOUT"
}

.nav {
  text-align: center;
  display:table;
  width: 100%;
  table-layout: fixed;
  /*box-shadow: 0 5px 6px -6px #888888;*/
  padding: 0px;
  padding-bottom: 10px;
  position: sticky;
  top:20px;
  z-index: 1;
}

/* MOBILE APP */
@media only screen and (max-width: 600px) {
  .nav {
    overflow-x: scroll;
  }
}

.sub-nav {
  top:60px;
  background-color: transparent;
}

.nav-link {
  /*transition:0.5s;*/
  font-family: "Brandon Grotesque Black";
  display:table-cell;
  text-align: center;
  margin: 0px;
  padding: 5px;
  text-decoration: none;
  color:#1b372a66;
  transition:0.25s;
  border-bottom: none;
  white-space: nowrap;
  background-color: transparent;
}

.nav-link::placeholder {
  transition:0.25s;
  font-size: 12px;
  color:#1b372a66;
}

.nav-link:hover::placeholder {
  transition:0.25s;
  color:#1b372a;
}
.active {
  color:#1b372a;
  transition:0.25s;

}

.nav-link:hover {
  transition:0.25s;
  color:#1b372a;

  /*box-shadow: 0 5px 6px -6px #555555;*/
}

