.header {
    font-family: "Windsor D";
    display:table;
    width:100%;
  }

/* left side */
  .title {
    display:table-cell; 
    vertical-align:middle;
    padding:10px;
  }
  
  /* right side */
  
  .user_container {
    font-family: "Brandon Grotesque Black";
    display: flex;
    align-items:center;
    float:right;
    /*flex-direction: row-reverse;*/
    padding-right: 0.5em;
    padding:10px;

  }
  
  .user_current {
    float: right;
    vertical-align: middle;

  }
  
  .user_img{
    vertical-align: middle;
    height:25px;
  }
  
  #logout{
    transition:0.5s;
    border: none;
    background: none;
    border-radius: 0.75em;
    color: #B3896A;
    font-family: "Brandon Grotesque";
    text-transform: uppercase;
    font-size: 1.25em;
    margin: 0;
  }
  
  #logout:hover span {
    transition:0.5s;
    display: none;
  }
  
  #logout:hover:before {
    transition:0.5s;
    content: "Logout"
  }

  .nav {
    text-align: center;
    display:table;
    width: 100%;
    table-layout: fixed;
    box-shadow: 0 5px 6px -6px #888888;
    padding: 0px;
  }

  .nav-link {
    transition:0.5s;
    font-family: "Brandon Grotesque Black";
    display:table-cell;
    text-align: center;
    margin: 0px;
    padding: 5px;
  
  }
  
  .nav-link:hover {
    transition:0.5s;
    box-shadow: 0 5px 6px -6px #555555;
  }
  