@font-face {
  font-family: "Brandon Grotesque Black";
  font-weight: bold;
  src:url("../../fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-light-58a8a4b38001d.otf");
}

/* ==========================================================================================
  PROGRESS CIRCLE 
  ============================================================================================ */
  
.single-chart {
  flex:1;
  justify-content: space-around ;
}

.single-chart div {
  text-align: center;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 4;
}

.circle {
  fill: none;
  stroke-width: 4.0;
  stroke-linecap:flat;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #268e45;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.circular-chart.yellow .circle {
  stroke: #FFEA00;
}

.circular-chart.red .circle {
  stroke: #FF5733;
}

.caption {
  fill: #666;
  font-family: "Brandon Grotesque Black";
  font-size: 0.4em;
  text-anchor: middle;
}

.percentage {
  fill: #666;
  font-family: "Brandon Grotesque Black";
  font-size: 0.4em;
  text-anchor: middle;
}
