.dashboard {
  padding: 10px;
  background-color: #FFFFFF;
}

ul {
  margin:0px;
  padding:0px;
}

.item {
  display: table;
  width:100%;
  padding:10px;
  box-shadow: 0 5px 6px -6px #555555;
}
.edit {
  padding:10px;
  display: table-cell;
}

.info {
  padding:10px;
  display: table-cell;
}

.device_name {
  font-weight: bolder;
}

th {
  font-size: 1.2em;
  font-weight: bolder;
  background-color: #E7DDDC
}

td {
  text-align:center;
}

table tr:nth-child(odd) td{
  background-color: #F8F3F2;
}

