.dashboard {
  padding: 10px;
  background-color: #FFFFFF;
}

ul {
  margin:0px;
  padding:0px;
}

.item {
  display: table;
  width:100%;
}

.info {
  padding:10px;
  display: table-cell;
}

.device_name {
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  font-size: 1.2em;
  font-weight: bolder;
  padding:20px;
}

tr {
  border-bottom: 1px solid;
}

td {
  text-align:center;
  padding:10px;
}

button {
  font-family: "Brandon Grotesque";
  margin: 5px;

  border: 1px #B3896A solid;
  background-color: #ffffff;
  color: #B3896A;;
  padding: 6px 12px;
  border-radius: 20px;
}

button:hover {
  transition: 0.25s;
  background-color: #B3896A;
  color: #FFFFFF;;
}

.actionsContainer {
  display: flex;
  justify-content: right;
}

.actionsContainer button {
  margin-top: 0px;
  margin-bottom: 15px;
}
