@font-face {
  font-family: "Brandon Grotesque";
  src:url("./fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-light-58a8a4b38001d.otf");
}

@font-face {
  font-family: "Brandon Grotesque Black";
  src:url("./fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-black-58a8a3e824392.otf");
}


@font-face {
  font-family: "Windsor D";
  src:url("./fonts/WindsorD.ttf");
}

.header {
  font-family: "Windsor D";
  padding: 10px;
  display:table;
  width:100%;
}

/* left side */
.title {
  display:table-cell; 
  vertical-align:middle;
}

/* right side */

.user_container {
  font-family: "Brandon Grotesque Black";
  display: flex;
  align-items:center;
  flex-direction: row-reverse;
  padding-right: 0.5em;
}

.user_current {
  float: right;
}

.user_img_frame {
  float: left;
  vertical-align: middle; 
  height:100%;
}

.user_container > * {
  height:30px;
}

.user_img{
  height:30px;
}

#logout{
  transition:0.5s;
  border: none;
  background: none;
  border-radius: 0.75em;
  color: #B3896A;
  font-family: "Brandon Grotesque";
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.25em;
  width: 80px
}

#logout:hover span {
  transition:0.5s;
  display: none
}

#logout:hover:before {
  transition:0.5s;
  content: "Logout"
}

body {
  font-family: "Brandon Grotesque";
  color: #B3896A;
  background-color: #0E3829;
  margin:2%;
}

.dashboard {
  padding: 10px;
  background-color: #FFFFFF;
}

.nav {
  text-align: center;
  display:table;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 5px 6px -6px #888888;
  padding: 0px;
}
.nav-link {
  transition:0.5s;
  font-family: "Brandon Grotesque Black";
  display:table-cell;
  text-align: center;
  margin: 0px;
  padding: 5px;

}

.nav-link:hover {
  transition:0.5s;
  box-shadow: 0 5px 6px -6px #555555;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_body {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center; /* Could be more or less, depending on screen size */
}

.modal_content{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.labelsContainer{
  display:flex;
  flex-direction: column;
  margin-right: 2%;
}

.inputsContainer{
  display:flex;
  flex-direction: column;
}

ul {
  margin:0px;
  padding:0px;
}

.item {
  display: table;
  width:100%;
  padding:10px;
  box-shadow: 0 5px 6px -6px #555555;
}
.edit {
  padding:10px;
  display: table-cell;
}

.info {
  padding:10px;
  display: table-cell;
}

.device_name {
  font-weight: bolder;
}

.experiment_container {
  display: table-cell;
  color: #161616;
  padding:10px;
}

#experiment {
  margin:10px;
  padding:10px;
  border-radius: 10px;
  display: flex;
}

th {
  font-size: 1.2em;
  font-weight: bolder;
  background-color: #E7DDDC
}

td {
  text-align:center;
}

button {
  border: 0px;
  background-color: #B3896A;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 5px;
  margin-top: 15px;
}

table tr:nth-child(odd) td{
  background-color: #F8F3F2;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
}


.single-chart div {
  text-align: center;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

#experimentLeft{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#experimentRight{
 display: flex;
 align-items: center; 
 flex-direction: row;
 flex-grow: 4;
}

.single-chart {
  width: 30%;
  justify-content: space-around ;
}